<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h3>Welcome Back</h3>
                    <form id="loginForm"asp-controller="Account" asp-action="GoToHome" method="post" class="form-floating" style="max-width: 300px; margin: 0 auto;">
                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Email</label>
                            <input id="emailInput"@*  asp-for="Email" *@ class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="passwordInput" class="form-label">Password</label>
                            <input id="passwordInput" a@* sp-for="Password" *@ type="password" class="form-control" />
                        </div>
                        <input id="loginError" @* asp-for="LoginError" *@ type="hidden" />
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Log In</button>
                        </div>





                    </form>
                </div>
                <p class="mb-0" style="color: red;">@Html.ValidationMessage("LoginError")</p>

            </div>
        </div>
    </div>
</div>
<script>

    document.getElementById('loginForm').addEventListener('submit', function () {
       
        var userEmail = document.getElementById('emailInput').value;
        sessionStorage.setItem('UserEmail', userEmail);
    });
</script>