<div class="container">
    <div class="row">
        <!-- Video Player -->
        <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="your-video-url" ></iframe>
            </div>
        </div>

        <!-- Attendance List -->
        <div class="col-md-4">
            <h2>Attendance List</h2>
            <ul class="list-group">
               
                <li class="list-group-item">Attendee 1</li>
                <li class="list-group-item">Attendee 2</li>
             
            </ul>
        </div>

        <!-- Chat Section -->
        <div class="col-md-4">
            <h2>Chat</h2>
            <div id="chat-box">
               
            </div>
            <input type="text" id="chat-input" placeholder="Type a message...">
            <button id="send-button">Send</button>
        </div>
    </div>
</div>
